@import url(fonts.css);
@import url(footer.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    text-decoration: none;
    list-style: none;
    font-style: normal;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat";
    font-weight: 400; 
}

.body.active {
    overflow: hidden;
}

.container {
    max-width: 1326px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
/* header start */

.burger {
    display: none;
}

.header {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    box-shadow: 0px 4px 24px rgba(28, 44, 68, 0.12);
    background-color: #fff;
}




.nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.header_list {
    display: flex;
    gap: 32px;
}

.link {
    color: #151628;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.7s;
}
.link:hover {
    color: #2B63E3;
}


/* our team */

.our_team {
    width: 100%;
    padding: 160px 0 80px 0;
    background-color: #F3F4F6;
    margin-bottom: 80px;
}

.team_inner {
    display: flex;
    gap: 73px;
    align-items: center;
}

.team_images {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 864px;
    width: 100%;
}

.team_img {
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
}

.team_img::before {
    content: '';
    background:  linear-gradient(0deg, rgba(21, 22, 40, 0.8), rgba(21, 22, 40, 0.8)), url(.png);
    position: absolute;
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    z-index: 4;
}

.team_name {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    z-index: 5;text-align: center;
    width: 106px;
    line-height: 20px;
}

.our_team_title {
    font-size: 45px;
    font-weight: 700;
    color: #151628;
}

.card {
    display: flex;
    max-width: 1076px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    flex-wrap: wrap;
}

.card.reverse {
    flex-direction: row-reverse;
    text-align: right;
    margin-left: auto;
}

.info_team {
    width: 636px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}



.card_title {
    font-weight: 700;
    font-size: 32px;
    color: #151628;
}

.card_job {
    font-weight: 500;
    color: #70798B;
    font-size: 24px;
    line-height: 32px;
}

.job_desc {
    font-weight: 400;
    font-size: 16px;
    color: #151628;
    line-height: 24px;
}

.card_contact {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.personal_number, .corporation_number, .card_email {
    font-weight: 600;
    color: #151628;
    font-size: 16px;
    line-height: 24px;
}



/* media */

@media(max-width:1024px) {
    .team_inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .info_team {
        width: 550px;
    }
    /* footer */

    .contacts {
        flex-wrap: wrap;
    }

    .email {
        width: 100%;
        text-align: center;
    }

    .map {
        width: 100%;
        height: 360px;
    }

    .form {
        margin: 0 auto;
        width: 43%;
    }

    .nav.foo_nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
    }

    .submit_button {
        width: 174px;
        margin: 0 auto;
    }
    .second_line {
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
    }
    .footer_adress {
        width: 100%;
        text-align: center;
    }
    .third_line {
        text-align: center;
    }
}
@media(max-width:768px) {
    .nav.foo_nav {
        justify-content: center;
    }
    .header_list.foo {
        display: none;
    }
    .team_images {
        justify-content: center;
    }
    /* header start */
    .header_list {
        display: none;
        position: absolute;
        display: flex;    
        flex-direction: column;
        right: -100%;
        top: 0;
        justify-content: center;
        align-items: center;
        height: 400px;
        background: #fff;
        width: 50%;
        transition: all 0.9s;
}

    .header_list.active {
        display: flex;
        right: 0;
    }

    .burger {
        width: 55px;
        height: 55px;
        background-color: #151628;
        display: block;
        transform: rotate(-180deg);
        transition: all 0.5s;
        padding: 5px 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .line {
        width: 40px;
        height: 5px;
        display: block;
        background: #fff;
        transition: all 0.5s;
    }

    .burger.active {
        position: absolute;
        z-index: 2;
        width: 40px;
        height: 40px;
        top: 15px;
        right: 20px;
        transform: rotate(0deg);
        justify-content: center;
        align-items: center;
    }
    
    .burger.active .line:nth-child(3) {
        display: none;
    }

    .burger.active .line:nth-child(1) {
        transform: rotate(45deg);
        position: absolute;
    }
    .burger.active .line:nth-child(2) {
        transform: rotate(-45deg);
        position: absolute;
    }

    /* header end */

    /* team */
    .card {
        text-align: center;
        justify-content: center;
    }
    .info_team {
        align-items: center;
    }
    .card.reverse {
        text-align: center;
    }
}
@media(max-width:480px) {

    .email {
        padding: 80px 0 80px 0;
    }
    .form  {
        width: 80%;
    }
    .telegramm, .instagramm, .facebook {
        flex-direction: column;
    }
    .third_line {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .tel {
        margin-right: 0;
    }
}

@media(max-width:375px) {
    .personal_img {
        width: 300px;
        height: 300px;
        margin-bottom: 25px;
    }
}

@media(max-width:320px) {
    .media {
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;
    }
    .telegramm, .instagramm, .facebook {
        gap: 10px;
    }

    /* team */
    .personal_img {
        width: 300px;
        height: 300px;
    }
    .our_team_title {
        font-size: 36px;
    }
    .team_images {
        display: none;
    }
}